version: 2

#{% set custom_schema = import('../lib/custom_event_schema.yml') | fromyaml %}
#{% set events = import('./events.yml') | fromyaml %}

views:
  - name: product
    models:
        #{% for schema in var('custom_events') %}   
        #{% set current_schema = custom_schema[schema.event] %}
        - name: "{{schema.event}}"
          label: {{schema.event}}
          dataset: {{source('marketing', 'events')}}
          mappings: {{events.events.sources[0].tables[0].meta.rakam.dimensions + current_schema.mappings}}
          relations: {{events.events.sources[0].tables[0].meta.rakam.dimensions + current_schema.relations}}
          dimensions: {{events.events.sources[0].tables[0].meta.rakam.dimensions + current_schema.dimensions}}
          always_filters:
          - {dimension: event_type, value: "{{row.event}}", operator: equals}
        #{% endfor %}