{% set custom_schema = import('../lib/custom_event_schema.yml') | fromyaml %}
{% set events = import('./events.yml') | fromyaml %}

{% for schema in var('custom_events') %}  
  {% set current_schema = custom_schema[schema.event] %}

  {{ view(
      name = 'tenjin_event_' ~ schema.name,
      extends = source('tenjin', 'events'),
      category = 'Product',
      label = schema.event,
      measures = current_schema.measures,
      dimensions = current_schema.dimensions,
      always_filters = [{dimension: event_type, value: row.event, operator: 'equals'}]
    ) }}
{% endfor %}